body{
  background-color: rgba(0, 0, 0, 0.305);
  background-image: url(https://img.freepik.com/premium-photo/cheetah-closeup-photography-cheetah-africa-generative-ai_796128-679.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  }

h1{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.hma{
  color:rgb(8, 9, 3);
  margin-left: 25px;
}

input{
margin-top: 1%;
} 

img{
width: 150px;
height: 150px;
padding: 5px;
}